/*                        */
/* Author: Eteration A.S. */
/*                        */

#novaContent {
	position: relative;
	background: url("/webtools/images/backgroundMain.png") no-repeat #FFFFFF !important;
}
/*
#midcolumn {
	margin-left: 20px;
	width: 680px !important;
}
*/
#midcolumn {
	margin: 0px !important;
	padding: 0px 19px !important;
	width: 1040px;
	padding-top: 193px !important;
}

#leftcol {
	display: none;
}

#bigbuttons {
	position: absolute;
	right: 20px;
}

.logoBanner {
	position: absolute;
	height: 174px;
	width: 300px;
	top: 0;
	left: 0;
	padding-top: 10px;
	text-align: center;
}

.bigbuttonsTitleLink {
	position: absolute;
	height: 77px;
	width: 249px;
}

.bigbuttonsAbout span, .bigbuttonsCommunity span, .bigbuttonsDocumentation span, .bigbuttonsDownloads span {
	position: absolute;
	top: 30px;
	left: 85px;
	font-family: Arial;
	font-size: 11px;
	line-height: 13px;
}

.bigbuttonsAbout {
	background: url("/webtools/images/bigbutton_about.png") no-repeat;
	width: 249px;
	height: 77px;
	position: relative;
}

.bigbuttonsCommunity {
	background: url("/webtools/images/bigbutton_community.png") no-repeat;
	width: 249px;
	height: 77px;
	position: relative;
}

.bigbuttonsDocumentation {
	background: url("/webtools/images/bigbutton_documentation.png") no-repeat;
	width: 249px;
	height: 77px;
	position: relative;
}

.bigbuttonsDownloads {
	background: url("/webtools/images/bigbutton_downloads.png") no-repeat;
	width: 249px;
	height: 77px;
	position: relative;
}

.wtpbanner {
	text-align: center;
}

.communityDiv {
	position: relative;
	float: left;
	/*width: 978px;*/
	width: 725px;
	height: 300px;
	z-index: 1;
}

.communityTitle {
	position: absolute;
	top: 25px;
	left: 290px;
	margin: 0 auto;
	width: 155px;
	height: 29px;
	background: url("/webtools/community/images/c_title.png") no-repeat;
	z-index: 1;
}

.communityBg {
	position: relative;
	background: url("/webtools/community/images/c_bg-repeat.png") repeat-x top left;
	width: 725px;
	height: 300px;
}

.communityEducation {
	position: absolute;
	top: 45px;
	left: 65px;
	background: url("/webtools/community/images/c_education.png") no-repeat;
	width: 269px;
	height: 269px;
}

.communityResource {
	position: absolute;
	top: 45px;
	left: 405px;
	background: url("/webtools/community/images/c_resource.png") no-repeat;
	width: 269px;
	height: 269px;
}

.communityDiv a {
	cursor: pointer;
}