
p, table, td, th {  
	font-family: arial, helvetica, geneva; 
	font-size: 10pt
}
pre {  
	font-family: "Courier New", Courier, mono; font-size: 10pt}
h2 { 
	font-family: arial, helvetica, geneva; 
	font-size: 18pt; 
	font-weight: bold ; 
	line-height: 14px
}
code {  
	font-family: "Courier New", Courier, mono; 
	font-size: 10pt
}
sup {  
	font-family: arial,helvetica,geneva; 
	font-size: 10px
}
h3 {  
	font-family: arial, helvetica, geneva; 
	font-size: 14pt; 
	font-weight: bold
}
li {  
	font-family: arial, helvetica, geneva; 
	font-size: 10pt
}
h1 {  
	font-family: arial, helvetica, geneva; 
	font-size: 28px; 
	font-weight: bold
}
body {  
	font-family: arial, helvetica, geneva; 
	font-size: 10pt; 
	clip:   rect(   ); 
	margin-top: 5mm; 
	margin-left: 3mm;
	color: rgb(0, 0, 0); 
	background-color: rgb(255, 255, 255);
	alink="#ff0000";
	link="#0000ee";
	vlink="#551a8b";	
}
.indextop { 
	font-size: x-large;; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold
}
.indexsub { 
	font-size: xx-small;; 
	font-family: Arial, Helvetica, sans-serif; 
	color: #8080FF
}
a:link {  
	color: #0000ee;
}
a:visited {
	color: #551a8b;
}
a:active {
	color: #ff0000;
}
